header {
  font-size: 2em;
}
div {
  &:nth-child(1) {
    margin: 10px;
  }
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  mat-card {
    flex: 1 1 30%;
  }
}
